name: "mainへのpush: デプロイ"

concurrency:
  group: bot-production
  cancel-in-progress: true
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22]

    environment:
      name: bot-production

    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      # ha=falseでマシンの複製を防止する
      - run: >
          flyctl deploy --remote-only
          --ha=fals
          --env COMMIT_SHA=${{ github.sha }}
